## Words

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [2]:
# we will Iterate through each word in the list
for word in words:
    # Convert the word to uppercase by using upper function and print it all
    print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [7]:
# We'll create a new list to store the words that have 5 or more letters
filtered_words_min_length = []  # Unique and descriptive name for the filtered list

# Next, we'll loop through each word in the original list
for word in words:
    # For each word, we'll check if its length is 5 or more
    if len(word) >= 5:
        # If it is, we'll add it to our new list
        filtered_words_min_length.append(word)

# Finally, let's print the new list to see the result
print("Words with 5 or more letters is:", filtered_words_min_length)

Words with 5 or more letters is: ['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [9]:
# let's find and print the first word starting with "t"
first_word_starting_with_t = None  # Unique variable to store the first word starting with "t"

# Loop through the original list to find the first word starting with "t"
for word in words:
    if word.startswith('t'):  # Check if the word starts with "t"
        first_word_starting_with_t = word  # Store the word
        break  # Exit the loop once we find the first match

# Print the result
if first_word_starting_with_t:
    print("First word starting with 't' is:", first_word_starting_with_t)
else:
    print("No word starting with 't' found.")

First word starting with 't' is: theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [11]:
# First, let's define the range of numbers we want to square (from 1 to 10)
numbers_to_square = range(1, 11)  # Unique and descriptive name for the range

# Now, we'll create an empty list to store the squared numbers
squared_numbers_list = []  # Unique and descriptive name for the list of squared numbers

# Next, we'll loop through each number in the range
for number in numbers_to_square:
    # For each number, calculate its square and add it to the list
    squared_numbers_list.append(number ** 2)  # Using the exponent operator ** to square the number

# Finally, let's print the list of squared numbers
print("Squares of numbers from 1 to 10 is:", squared_numbers_list)

Squares of numbers from 1 to 10 is: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [13]:
# Let's create a list that stores the squares of all the odd numbers between 1 and 10.
# We'll use a list comprehension to make this quick and clean.
squares_of_odd_numbers = [num**2 for num in range(1, 11) if num % 2 != 0]

# Now, let's print the list to see the results.
print(squares_of_odd_numbers)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [14]:
# Let's create a list that stores the squares of all multiples of 8 below 1000.
# We'll use a list comprehension to keep it simple and efficient.
squares_of_multiples_of_8 = [num**2 for num in range(8, 1000, 8)]

# Now, let's print the list to see the results.
print(squares_of_multiples_of_8)

[64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064]

## People

In [16]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [17]:
# To find out how many people are in the list, we can use the `len()` function.
number_of_people = len(people)

# Let's print the result to see how many people there are.
print(f"There are {number_of_people} people in the list.")

There are 5 people in the list.

**How many people have kids**?

In [18]:
# To find out how many people have kids, we'll count those with `n_kids` greater than 0.
people_with_kids = [person for person in people if person["n_kids"] > 0]

# Now, let's use `len()` to count how many people have kids.
number_of_people_with_kids = len(people_with_kids)

# Let's print the result to see how many people have kids :) .
print(f"There are {number_of_people_with_kids} people who have kids.")

There are 4 people who have kids.

**How many kids do they have in total?**

In [19]:
# To find the total number of kids, we'll sum up the `n_kids` value for each person.
total_number_of_kids = sum(person["n_kids"] for person in people)

# Let's print the result to see the total number of kids.
print(f"They have a total of {total_number_of_kids} kids.")

They have a total of 10 kids.

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [20]:
# Let's create a new list to store the updated information for each person in a year's time.
people_in_a_year = []

# We'll loop through each person in the original list and update their info.
for person in people:
    # Create a copy of the person's dictionary to avoid modifying the original.
    updated_person = person.copy()

    # Increase the person's age by 1.
    updated_person["age"] += 1

    # If the person's name ends with "a", add an extra kid.
    if updated_person["name"].endswith("a"):
        updated_person["n_kids"] += 1

    # Add the updated person to the new list.
    people_in_a_year.append(updated_person)

# Let's print the updated list to see the changes.
print("People's info in a year's time:")
print(people_in_a_year)

People's info in a year's time:
[{'name': 'Juan', 'age': 35, 'n_kids': 2}, {'name': 'Pepe', 'age': 28, 'n_kids': 0}, {'name': 'Sonia', 'age': 42, 'n_kids': 2}, {'name': 'Lucía', 'age': 23, 'n_kids': 3}, {'name': 'Leo', 'age': 56, 'n_kids': 5}]